* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: hsl(235, 21%, 11%);
    font-size: 18px;
font-family: 'Josefin Sans', sans-serif;

}


.bg-img-dark {
 
  width: 100%;
  height: 350px;
  background: url("./images/bg-desktop-dark.jpg") no-repeat;
  background-size: cover;
  
  object-fit:cover;
  position: relative;
} 
.bg-img-light {
 
  width: 100%;
  height: 350px;
  background: url("./images/bg-desktop-light.jpg") no-repeat;
  background-size: cover;
  
  object-fit:cover;
  position: relative;
} 

.bg {
   
    width: 100%;
    object-fit: cover;
    position: relative;
   
  
    
}

.todo {
    
    
    
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   
}
.filters p.active {
    color: rgb(94, 94, 218) ;
} 
p {
    color: hsl(234, 11%, 52%);
    cursor: pointer;
    
    
    
   
}

.empty {
  color: hsl(234, 11%, 52%);
  padding-bottom:50px ;
  text-align: center;
  padding-top: 50px;

}


.empty-light {
  color: black;
  padding-bottom:50px ;
  text-align: center;
  padding-top: 50px;

}

.clear{
  color: hsl(234, 11%, 52%);
  cursor: pointer;
}
.clear:hover {
  color: white;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 80px;
    min-width: 600px;
    max-width: 600px;
}


hr{
    opacity: 0.2;
    
}
i {
    color: white;
    opacity: 0.7;
    position: absolute;
    top: 16px;
    right: 30px;
    cursor: pointer;
    
}
i:hover{
    color: hsl(236, 33%, 92%);
}


  .input-dark {
    
    width: 600px;
    
    color: white;
    padding: 15px 0;
    border-radius: 3px;
    margin-bottom: 20px;
    outline: none;
    border: none;
   background-color:hsl(235, 24%, 19%) ;
   font-size: 1.2rem;
   padding-left: 40px;
   
  }
 
  /* light input */
  .input-light {
    width: 600px;
    color: black;
    padding: 15px 0;
    border-radius: 3px;
    margin-bottom: 20px;
    outline: none;
    border: none;
   background-color:hsl(0, 0%, 98%) ;
   font-size: 1.2rem;
   padding-left: 40px;
   
  }
 .todo-input {
    display: flex;
    position: relative;
 }


.filter-todo {
   
    display: flex;
    font-size: 0.9rem;
    padding: 15px 10px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  
     width: 100%;
     background-color:hsl(235, 24%, 19%) ;
    
}

.filter-todo-light p{
    color: hsl(236, 9%, 61%);
}
.filter-todo-light p:hover{
    color: black;
}
.filter-todo-light .active {
    color: rgb(80, 80, 176) ;
}

.head {
 
    color: white;
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;
   
   
   
}
p:hover {
    color:hsl(236, 33%, 92%);
}


.baslik {
    letter-spacing: 10px;
    font-size: 1.3rem;

}
.todo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.filters {
display: flex;
align-items: center;
justify-content: center;
text-align: center;


}
.filters p {
   
    padding: 0 5px;

}

/* Todo listesi için temel stil */
.todo-list-container {
    width: 100%;
   
   
}
.todo-list {
    list-style-type: none;
    padding:0;
    margin: 0;
    background-color: hsl(235, 24%, 19%);
   overflow:hidden;
   
    
  }

  svg {
    margin-right: 10px;
    cursor: pointer;
   
    
    
  }
 
  /* Her görev öğesi için stil */
  .todo-list li {
    background-color: hsl(235, 24%, 19%);
    color: white;
    list-style: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 20px 0;
   border-bottom: 1px solid #dddddd39;
   
  }
  
  /* Checkbox stilleri */
  .todo-list li input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 5px;
    -webkit-appearance: none; /* Safari ve Chrome için */
    -moz-appearance: none; /* Firefox için */
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: all 0.3s;
  
    
  }
  
 
  .mode{
    cursor: pointer;
  }
  input[type="checkbox"]:checked +label{
    /* background: url("/images/icon-check.svg") no-repeat center ; */
    text-decoration: line-through;
    color: red;
    
   
  }
 
  
  /* Görev adı stilleri */
  .todo-list li label {
    flex: 1;
    cursor: pointer;
    
  }
  
  /* Görev silme butonu stilleri */
 

/* checkbox style */

/* light mode */

/* Her görev öğesi için stil */
.light-mode li {
    background-color: hsl(0, 0%, 98%);
    color: white;
    list-style: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 20px 0;
   border-bottom: 1px solid #dddddd;
   
  }
  .light-mode li input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 5px;
    -webkit-appearance: none; /* Safari ve Chrome için */
    -moz-appearance: none; /* Firefox için */
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: all 0.3s;
  
    
  }
  .light-mode li input[type=checkbox]:checked::before {
    content: "\2713";
    display: block;
   
   
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: black;
    font-weight: 800;
    
    border-radius: 3px;
  }
  
  /* Checkbox stilleri */
  .light-mode li input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 5px;
    -webkit-appearance: none; /* Safari ve Chrome için */
    -moz-appearance: none; /* Firefox için */
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: all 0.3s;
  
    
  }
  
  input[type="checkbox"]:checked {
    background: url("/images/icon-check.svg") no-repeat center ;
    
   
  }
  
  /* Görev adı stilleri */
  .light-mode li label {
    flex: 1;
    cursor: pointer;
    color: black;
  }

 .light-icon{
    color: black;
 }
 .light-icon:hover{
    color: blue;
 }


 .light-mode {
  list-style-type: none;
  padding:0;
  margin: 0;
  background-color: hsl(0, 0%, 98%);
 ;
  
}
.light-mode p:hover {
  color: black;
}

 /* Media Query*/



 @media only screen and (max-width: 600px) {
 
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 80px;
    min-width: 500px;
    max-width: 500px;
}

.input-dark {
  width: 500px;
  color: white;
  padding: 15px 0;
  border-radius: 3px;
  margin-bottom: 20px;
  outline: none;
  border: none;
 background-color:hsl(235, 24%, 19%) ;
 font-size: 1.2rem;
 padding-left: 40px;
 
}
.input-light {
  width: 500px;
  color: black;
  padding: 15px 0;
  border-radius: 3px;
  margin-bottom: 20px;
  outline: none;
  border: none;
 background-color:hsl(0, 0%, 98%) ;
 font-size: 1.2rem;
 padding-left: 40px;
 
}





}@media only screen and (max-width: 400px) {

  .bg-img-dark {
 
    width: 100%;
    height: 270px;
    background: url("./images/bg-mobile-dark.jpg") no-repeat  ;
    background-size: cover;
    
    object-fit:cover;
    position: relative;
  } 
  .bg-img-light {
   
    width: 100%;
    height: 270px;
    background: url("./images/bg-mobile-light.jpg") no-repeat  ;
    background-size: cover;
    
    object-fit:cover;
    position: relative;
  } 
 
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 80px;
    min-width: 350px;
    max-width: 350px;
}

.input-dark {
  width: 350px;
  color: white;
  padding: 15px 0;
  border-radius: 3px;
  margin-bottom: 20px;
  outline: none;
  border: none;
 background-color:hsl(235, 24%, 19%) ;
 font-size: 1.2rem;
 padding-left: 40px;
 
}
.input-light {
  width: 350px;
  color: black;
  padding: 15px 0;
  border-radius: 3px;
  margin-bottom: 20px;
  outline: none;
  border: none;
 background-color:hsl(0, 0%, 98%) ;
 font-size: 1.2rem;
 padding-left: 40px;
 
}




}